/.vscode
/Laboratorio_1
/Laboratorio_2
/Laboratorio_3
/Laboratorio_4
/Laboratorio_5
/Laboratorio_5.2
/Laboratorio_5.3
/Laboratorio_6
/Laboratorio_6.2
/Laboratorio_6.3
/Laboratorio_7 (arrays & bucles)
/Laboratorio_8.1(algoritmos 1)
/Laboratorio_8.2(algoritmos 1.2)
/Laboratorio_9(algoritmos_2)
/Laboratorio_9.2(algoritmos_2)
/Laboratorio_9.3(algoritmos_2)
/Laboratorio_9.4(algoritmos_2)
/Laboratorio_9.5(algoritmos_2)
/Laboratorio_9.6(algoritmos_2)
/Laboratorio_9.7(algoritmos_2)
/Laboratorio_9.8(algoritmos_2)
/Laboratorio_9.8.2(algoritmos_2)
/Laboratorio_9.8.3(algoritmos_2)
/Laboratorio_9.9(algoritmos_2)